/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "GoRegular";
  src: url("../font/go-regular-webfont.woff2") format("woff2"), url("../font/go-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "GoBold";
  src: url("../font/go-bold-webfont.woff2") format("woff2"), url("../font/go-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "VeraSerif";
  src: url("../font/veraserif-webfont.woff2") format("woff2"), url("../font/veraserif-webfont.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* colors */
  --azul-flojo-1: #c4e6ff;
  --azul-flojo-2: #d7eeff;
  --azul-marino: #004d84;
  --azul-normal: #0073c7;
  --azul-normal-2: #3d92dc;
  --azul-oscuro: #002642;
  --blanco-gris: #f5f5f5;
  --gris-texto: #2c2c2c;
  --verde-light: #3ba953;
  --verde-deg-1: #43ab6b;
  --verde-deg-2: #48b274;
}

/* ******************************** */
html {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  font-family: "GoRegular";
  background-color: var(--blanco-gris);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  animation-name: show;
  animation-duration: 1s;

  & .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

    & .header__nombre {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      color: #18486b;
      font-family: "VeraSerif";

      & .nombre__logo {
        width: 75px;
      }
    }

    & .header__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      font-size: 14px;

      & .nav__login {
        text-decoration: none;
        padding: 10px 15px;
        color: var(--azul-oscuro);
        cursor: pointer;
        
      }

      & .nav__registrarse {
        text-decoration: none;
        padding: 15px 25px;
        background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
        background-size: 400% 400%;
        color: white;
        border-radius: 35px;
        font-family: "GoBold";
        cursor: pointer;
      }

      & .nav__registrarse:hover {
        background: linear-gradient(265deg, #3186d1, #3386cf);
        background-size: 400% 400%;
      }
    }
  }

  & .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .main__generador {
      margin-top: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--gris-texto);

      & .generador__titulo {
        font-size: 2.7rem;
        opacity: 0;
        animation: text-animate 1s 0.5s cubic-bezier(.04,.79,.49,.93) forwards;
      }

      & .generador__frase {
        margin-top: 2rem;
        font-weight: 400;
        opacity: 0;
        animation: text-animate 1s 0.75s cubic-bezier(.04,.79,.49,.93) forwards;
      }

      & .generador__result {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-left: 175px;
        font-family: "GoBold";
        opacity: 0;
        animation: text-animate 1s 1s cubic-bezier(.04,.79,.49,.93) forwards;

        & .result__box {
          width: 500px;
          text-align: center;
          font-size: 18px;
          margin: 25px 0;
          background: linear-gradient(265deg, #669fd0, #0073c7);
          background-size: 400% 400%;
          animation: headerBackground 20s ease infinite;
          color: var(--blanco-gris);
          padding: 10px 50px;
          border-radius: 15px;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          
        }

        & .result__copy {
          background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
          color: white;
          padding: 10px 40px;
          border-radius: 15px;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          font-size: 14px;
          cursor: pointer;
          transition: transform 0.2s linear;
        }

        & .result__copy:hover {
          background: var(--azul-normal);
          transform: scale(1.2);
          
        }
      }

      & .generador__generar {
        padding: 10px 45px;
        background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
        animation: headerBackground 10s ease infinite;
        color: white;
        border-radius: 15px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
        transition: transform 0.2s linear;
      }

      & .generador__generar:hover {
        background: var(--azul-normal);
        transform: scale(1.1);
      }
    }

    & .main__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      margin-top: 25px;
      background: linear-gradient(270deg, var(--azul-flojo-1), var(--azul-flojo-2));
      opacity: 0;
      animation: text-animate 1s 1.5s cubic-bezier(.04,.79,.49,.93) forwards;
      z-index: -1;

      & .info__explicacion {
        width: 90vw;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;
        padding: 25px 0;
        text-align: justify;
        
        & .explicacion__cajafuerte {
          background-image: url("../img/desktop/cajafuerte.webp");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          grid-column: 1/2;
          grid-row: 1/5;
          border-radius: 15px;
          margin-right: 25px;
          height: 100%;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }
  
        & .explicacion__informacion {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      & .info__buenaspracticas {
        max-width: 1000px;

        & .buenaspracticas__izq {
          text-align: justify;
          display: grid;
          grid-template-columns: 65% 35%;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 10px;
          padding: 25px 0;

          & .izq__padlock {
            background-image: url("../img/desktop/padlock.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            grid-column: 2/3;
            grid-row: 1/4;
            margin-left: 25px;
            border-radius: 15px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

          }
        }

        & .buenaspracticas__der {
          text-align: justify;
          display: grid;
          grid-template-columns: 35% 65%;
          grid-template-rows: repeat(2, 1fr);
          row-gap: 35px;
          padding: 25px 0;
          margin-bottom: 35px;

          & .der__padlock {
            background-image: url("../img/desktop/padlock2.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            grid-column: 1/2;
            grid-row: 1/3;
            margin-right: 25px;
            border-radius: 15px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }

    }
  }

  & .footer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(270deg, #225582, var(--azul-oscuro));
    color: white;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    z-index: 0;

    & .footer__bg {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      max-width: 1000px;
      padding: 15px 0;

      & .footer__izq {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-right: 30px;
  
        & a {
          color: white;
          text-decoration: none;
        }
  
        & .coffee {
          display: flex;
          align-items: center;
          gap: 10px;
          
            & img {
              width: 20px;
            }
        }
  
        & .izq__copyright {
          font-weight: 400;
        }
      }
  
      & .footer__redes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        & .redes__red {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: white;
  
          & img {
            width: 25px;
          }
        }
      }
    }
  }
}

/* OPCIONES GENERADOR SESION INICIADA */
.generador__length {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  opacity: 0;
  animation: text-animate 1s 1s cubic-bezier(.04,.79,.49,.93) forwards;

  & .length__slider {
    width: 100%;
    border: none;
    appearance: none;
    height: 2px;
    background-color: var(--verde-light);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    }

    & .length__slider::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--verde-light);
      cursor: pointer;
    }
}

.generador__botones {
  display: flex;
  gap: 50px;
  opacity: 0;
  animation: text-animate 1s 1.25s cubic-bezier(.04,.79,.49,.93) forwards;

  & .generador__guardar {
    background: linear-gradient(265deg, var(--verde-deg-1), var(--verde-deg-2));
    padding: 10px 25px;
    border-radius: 15px;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
  }

  & .generador__guardar:hover {
    background: var(--verde-light);
    transform: scale(1.1);
    transition: transform 0.2s linear;
  }
}

.settings {
  display: flex;
  gap: 15px;
  opacity: 0;
  animation: text-animate 1s 0.75s cubic-bezier(.04,.79,.49,.93) forwards;

  & .setting {
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    margin-bottom: 8px;
    margin-top: 15px;
  
    input {
      opacity: 0;
      position: absolute;
      + label {
        user-select: none;
        &::before,
        &::after {
          content: "";
          position: absolute;
          transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
          transform: translateY(-50%);
          top: 50%;
          right: 10px;
          cursor: pointer;
        }
  
        &::before {
          height: 30px;
          width: 50px;
          border-radius: 30px;
          background: var(--gris-texto)
        }
  
        &::after {
          height: 24px;
          width: 24px;
          border-radius: 60px;
          right: 32px;
          background: white;
        }
      }
      
      &:checked {
        & + label:before {
          background: linear-gradient(265deg, #348d56, #5ee898);
          transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
        }
        & + label:after {
          right: 14px;
        }
      }
    }
  }
}

/* CUENTA DE USUARIO */
.cuenta__main {
  width: 90vw;
  max-width: 1000px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;

  & .main__barra {
    margin: 0;
    padding: 0;
    width: 200px;
    height: calc(100vh - 302px);
    min-height: 365px;
    background-color: #f4f4f4;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    & .barra__datos {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      gap: 35px;
      width: 100%;
      padding: 35px 20px;
      background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
    }

    & .sessionout {
      padding: 20px;
      background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
      margin-bottom: 25px;
      cursor: pointer;
    }

    & .sessionout:hover {
      background: var(--azul-normal);
    }
  }

  & .main__cambiopass {
    width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & input {
      width: 400px;
      padding: 15px 0;
      border: none;
      border-bottom: 2px solid var(--azul-marino);
      outline: none;
      color: var(--gris-texto);
      background-color: var(--blanco-gris);
    }

    & .botonenviar {
      align-self: end;
      width: 150px;
      padding: 10px;
      border-radius: 15px;
      border: none;
      background: linear-gradient(265deg, var(--verde-deg-1), var(--verde-deg-2));
      cursor: pointer;
      color: white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    & .botonenviar:hover {
      background: linear-gradient(265deg, #39915b, #3b9861);
    }
  }
}

/* Página Contraseñas */
.passwords__main {
  width: 90vw;
  max-width: 1000px;
  margin-top: 25px;
  flex: 1;

  & .main__titulo {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 2px solid var(--gris-texto);
  }

  & .main__passwords {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 25px;
    margin: 15px 0;

    & .passwords__passdiv {
      width: 300px;
      height: 120px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      background-color: white;
      transition: transform 0.2s linear;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      font-size: 14px;
      color: var(--gris-texto);  

      & .passdiv__nombre, .passdiv__password {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 15px;
      }

      & .passdiv__nombre {
        padding-top: 10px;
        font-size: 16px;
      }

      & .passdiv__password {
        font-weight: 400;
      }

      & .passdiv__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        background: linear-gradient(265deg, var(--azul-normal-2), var(--azul-normal));
        /*background-color: var(--gris-texto);*/
        padding:15px;
        border-radius: 0 0 15px 15px;
        color: white;
        box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.25);

        & .nav__eliminar {
          cursor: pointer;
        }

        & .nav__copiar {
          cursor: pointer;
        }
      }
    }

    & .passwords__passdiv:hover {
      transform: scale(1.1);
      gap: 0;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

      & .passdiv__nombre, & .passdiv__password {
        white-space: normal;
        overflow: visible; 
        word-wrap: break-word;
      }
    }
  }
}

/* Cookies y Privacidad */
.cookiesandpriv__main {
  width: 90vw;
  max-width: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  opacity: 0;
  animation: text-animate 1s 0.5s cubic-bezier(.04,.79,.49,.93) forwards;
}

/* Overlays Login, Registrarse y Guardar Contraseña */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
  transition: opacity 0.3s;

  & .overlay__box {
    position: absolute;
    font-size: 50px;
    color: white;
    width: 600px;
    padding: 50px 0;
    border-radius: 20px;
    background-color: white;
    color: var(--gris-texto);
    font-size: 22px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

    & .box__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      & .logo__nombre {
        color: var(--azul-normal);
        font-weight: 400;
      }

      & .logo__imagen {
        width: 75px;
      }
    }

    & .box__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      gap: 20px;

      & .input {
        width: 65%;
        padding: 15px 0;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid var(--azul-normal);
        outline: none;
        cursor: pointer;
      }

      & .nombrepass {
        border-bottom: 2px solid var(--verde-light);
      }

      & .botonenviar {
        margin-top: 15px;
        width: 65%;
        border: none;
        border-radius: 15px;
        padding: 5px 0;
        color: white;
        background: linear-gradient(265deg, #2f6fb3fb, #4e50da);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      & .botonenviar:hover {
        background-color: var(--azul-marino);
      }

      & .savepass {
        background: linear-gradient(265deg, #48b371, #4fc37f);
      }

      & .savepass:hover {
        background: #3aab53;
      }

      & .deletebtn {
        background: linear-gradient(265deg, #e7615d, #f4504a);
      }
    }
  }
}

.label-error {
  color: #ff0000; /* Color rojo para destacar el error */
  font-size: 12px; /* Tamaño de fuente más pequeño para los mensajes de error */
  margin-top: 5px; /* Espaciado superior para separar los mensajes del campo */
}

@keyframes headerBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes show {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes text-animate {
  from {
    transform: translateY(50px);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
  }
}