/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "GoRegular";
  src: url("../font/go-regular-webfont.woff2") format("woff2"), url("../font/go-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "GoBold";
  src: url("../font/go-bold-webfont.woff2") format("woff2"), url("../font/go-bold-webfont.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* colors */
  --azul-flojo: #dbf0ff;
  --azul-marino: #004d84;
  --azul-normal: #0073c7;
  --azul-oscuro: #002642;
  --blanco-gris: #f5f5f5;
  --dorado: #e7d58b;
  --gris-texto: #383838;
  --verde-light: #4fc168;
}

/* ******************************** */
html {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  font-family: "GoRegular";
  background-color: var(--blanco-gris);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;

  & .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: var(--azul-flojo);

    & .header__nombre {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      color: var(--azul-oscuro);

      & .nombre__logo {
        width: 75px;
      }
    }

    & .header__nav {
      justify-content: center;
      align-items: center;
      gap: 100px;
      font-size: 14px;

      & .nav__login {
        text-decoration: none;
        padding: 10px 15px;
        color: var(--azul-oscuro);
        cursor: pointer;
      }

      & .nav__registrarse {
        text-decoration: none;
        padding: 15px 25px;
        background-color: var(--azul-normal);
        color: white;
        border-radius: 10px;
        font-family: "GoBold";
        cursor: pointer;
      }

      & .nav__registrarse:hover {
        background-color: var(--azul-marino);
      }
    }
  }

  & .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .main__generador {
      margin-top: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--gris-texto);

      & .generador__titulo {
        font-size: 2.7rem;
      }

      & .generador__frase {
        margin-top: 2rem;
        font-weight: 400;
      }

      & .generador__result {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-left: 175px;
        font-family: "GoBold";

        & .result__box {
          width: 500px;
          text-align: center;
          font-size: 18px;
          margin: 25px 0;
          background-color: var(--azul-flojo);
          color: var(--azul-marino);
          padding: 10px 50px;
          border-radius: 50px;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        & .result__copy {
          background-color: var(--dorado);
          padding: 10px 40px;
          border-radius: 20px;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
          font-size: 14px;
          cursor: pointer;
        }

        & .result__copy:hover {
          background-color: #b5a66c;
        }
      }

      & .generador__generar {
        padding: 10px 45px;
        background-color: var(--azul-marino);
        color: white;
        border-radius: 25px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      & .generador__generar:hover {
        background-color: var(--azul-normal);
      }
    }

    & .main__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      margin-top: 25px;
      background-color: var(--azul-flojo);

      & .info__explicacion {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;
        padding: 25px 0;
        text-align: justify;
        
        & .explicacion__cajafuerte {
          background-image: url("../img/desktop/cajafuerte.webp");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          grid-column: 1/2;
          grid-row: 1/5;
          border-radius: 25px;
          margin-right: 25px;
          height: 100%;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }
  
        & .explicacion__informacion {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      & .info__buenaspracticas {
        max-width: 1000px;

        & .buenaspracticas__izq {
          text-align: justify;
          display: grid;
          grid-template-columns: 65% 35%;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 10px;
          padding: 25px 0;

          & .izq__padlock {
            background-image: url("../img/desktop/padlock.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            grid-column: 2/3;
            grid-row: 1/4;
            margin-left: 25px;
            border-radius: 25px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

          }
        }

        & .buenaspracticas__der {
          text-align: justify;
          display: grid;
          grid-template-columns: 35% 65%;
          grid-template-rows: repeat(2, 1fr);
          row-gap: 35px;
          padding: 25px 0;
          margin-bottom: 35px;

          & .der__padlock {
            background-image: url("../img/desktop/padlock2.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            grid-column: 1/2;
            grid-row: 1/3;
            margin-right: 25px;
            border-radius: 25px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }

    }
  }

  & .footer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background-color: var(--azul-oscuro);
    color: white;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;

    & .footer__bg {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      max-width: 1000px;
      padding: 15px 0;

      & .footer__izq {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-right: 30px;
  
        & a {
          color: white;
          text-decoration: none;
        }
  
        & .coffee {
          display: flex;
          align-items: center;
          gap: 10px;
          
            & img {
              width: 20px;
            }
        }
  
        & .izq__copyright {
          font-weight: 400;
        }
      }
  
      & .footer__redes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        & .redes__red {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: white;
  
          & img {
            width: 25px;
          }
        }
      }
    }
  }
}

/* OPCIONES GENERADOR SESION INICIADA */
.generador__length {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  & .length__slider {
    width: 100%;
    border: none;
    appearance: none;
    height: 2px;
    background-color: var(--verde-light);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    }

    & .length__slider::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--verde-light);
      cursor: pointer;
    }
}

.generador__botones {
  display: flex;
  gap: 50px;

  & .generador__guardar {
    background-color: var(--verde-light);
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  & .generador__guardar:hover {
    background-color: #3aab53;
  }
}

.settings {
  display: flex;
  gap: 15px;

  & .setting {
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    margin-bottom: 8px;
    margin-top: 15px;
  
    input {
      opacity: 0;
      position: absolute;
      + label {
        user-select: none;
        &::before,
        &::after {
          content: "";
          position: absolute;
          transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
          transform: translateY(-50%);
          top: 50%;
          right: 10px;
          cursor: pointer;
        }
  
        &::before {
          height: 30px;
          width: 50px;
          border-radius: 30px;
          background: var(--gris-texto)
        }
  
        &::after {
          height: 24px;
          width: 24px;
          border-radius: 60px;
          right: 32px;
          background: white;
        }
      }
      
      &:checked {
        & + label:before {
          background-color: var(--verde-light);
          transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
        }
        & + label:after {
          right: 14px;
        }
      }
    }
  }
}

/* CUENTA DE USUARIO */
.cuenta__main {
  width: 90vw;
  max-width: 1000px;
  display: flex;
  justify-content: start;
  align-items: center;

  & .main__barra {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fcfcfc;
    height: calc(100vh - 302px);
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    & .barra__datos {
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 100%;
      padding: 35px 20px;
      background-color: var(--azul-marino);
    }

    & .sessionout {
      padding: 20px;
      background-color: var(--azul-marino);
      margin-bottom: 25px;
      cursor: pointer;
    }

    & .sessionout:hover {
      background-color: var(--azul-normal);
    }
  }

  & .main__cambiopass {
    height: 20vh;
    width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    & input {
      width: 400px;
      padding: 15px 0;
      border: none;
      border-bottom: 2px solid var(--azul-marino);
      outline: none;
      color: var(--gris-texto);
      background-color: var(--blanco-gris);
    }

    & .botonenviar {
      align-self: end;
      width: 150px;
      padding: 10px;
      border-radius: 15px;
      border: none;
      background-color: var(--verde-light);
      color: white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    & .botonenviar:hover {
      background-color: #3aab53;
    }
  }
}

/* Página Contraseñas */
.passwords__main {
  width: 90vw;
  max-width: 1000px;
  margin-top: 25px;
  flex: 1;

  & .main__titulo {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 2px solid var(--gris-texto);
  }

  & .main__passwords {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;

    & .passwords__passdiv {
      width: 150px;
      height: 100px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      gap: 10px;
      background-color: white;
      transition: transform 0.2s linear;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

      & .passdiv__nombre, .passdiv__password {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.passdiv__password {
        font-size: 12px;
        font-weight: 400;
      }
    }

    & .passwords__passdiv:hover {
      transform: scale(1.2);

      & .passdiv__password {
        white-space: normal;
        overflow: visible; 
        text-overflow: clip;
      }
    }
  }
}

/* Cookies y Privacidad */
.cookiesandpriv__main {
  width: 90vw;
  max-width: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
  flex: 1;
}

/* Overlays Login y Registrarse */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
  transition: opacity 0.3s;

  & .overlay__box {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    background-color: white;
    color: var(--gris-texto);
    font-size: 22px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

    & .box__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      & .logo__nombre {
        color: var(--azul-normal);
        font-weight: 400;
      }

      & .logo__imagen {
        width: 75px;
      }
    }

    & .box__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      gap: 20px;

      & .input {
        width: 65%;
        padding: 15px 0;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid var(--azul-normal);
        outline: none;
      }

      & .botonenviar {
        margin-top: 15px;
        width: 65%;
        border: none;
        border-radius: 20px;
        padding: 5px 0;
        color: white;
        background-color: var(--azul-normal);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
      }

      & .botonenviar:hover {
        background-color: var(--azul-marino);
      }
    }
  }
}